# Configuração do Banco de Dados (Prisma)
DATABASE_URL="postgresql://user:password@localhost:5432/ponto_ofertas"

# Autenticação (NextAuth)
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="seu_segredo_super_protegido_aqui"

# Internacionalização
NEXT_PUBLIC_DEFAULT_LOCALE="pt"
